<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelpEachOtherTerrace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4870986F1EC6A1F7008623A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>487098881EC6A1F7008623A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>487098931EC6A1F7008623A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
